.is-invalid {
    border: 1px solid #dc3545 !important;
  }
  
  .nav-tabs .nav-item.active a {
    border-bottom: 3px solid;
    color: #FF9F43;
  }
  
  .card-header {
    cursor: pointer;
  }
  
  .checkboxs-keyword {
    margin-top: 8px;
  }
  .link{
    text-align: center;
  }
  .item-name{
    margin-left: 17rem;
    }